<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Gitesh Dalal">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serve - Client Management</title>
    <link th:href="@{/assets/img/faviconv1.ico}" href="../../static/assets/img/faviconv1.ico" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet">
    <link th:href="@{/assets/css/serve.css}" href="../../static/assets/css/serve.css" rel="stylesheet">
</head>
<body class="backdrop">
<div class="serve dashboard">
    <div class="content">
        <section class="panel">
            <div class="rel">
                <h2>Search Client&#x265B;</h2>
                <img class="logo-small" th:src="@{/assets/img/icon.png}" src="../../static/assets/img/icon.png" alt="Serve Logo"/>
            </div>
            <form th:action="@{/client/query}" action="results.html" method="get">
                <div class="msg" th:text="${error}"></div>

                <div class="form-field wide">
                    <label for="q">Query</label>
                    <textarea id="q" name="q" placeholder="_" th:text="${param.q}" rows="5" ></textarea>
                </div>

                <div class="form-field">
                    <label for="sort">Sort</label>
                    <input type="text" id="sort" name="sort" placeholder="_" th:value="${param.sort}"/>
                </div>

                <div class="form-field">
                    <label for="size">Page size</label>
                    <input type="text" id="size" name="size" placeholder="_" th:value="${param.size}"/>
                </div>

                <div class="form-field wide">
                    <p class="legend">
                        Map : <em>Multi key value pairs. Key represent object field/property.</em><br/>
                        Fields : <em>uid, clientId, email, accessTokenValiditySeconds, refreshTokenValiditySeconds, clientRoles, scopes
                        autoApprovedScopes, resourceIds, authorizedGrantTypes, registeredRedirectUri, seceretRequired, scopeRequired</em>
                    </p>
                </div>
                <input value="Search &#9819;" type="submit"/>
            </form>
            <a th:href="@{/dashboard}" href="../dashboard.html" class="btn danger">Cancel</a>
        </section>
    </div>
</div>
<script type="text/javascript" th:src="@{/assets/js/forms.js}" src="../../static/assets/js/forms.js"></script>
</body>
</html>