<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Gitesh Dalal">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serve - Management Dashboard</title>
    <link th:href="@{/assets/img/faviconv1.ico}" href="../../static/assets/img/faviconv1.ico" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet">
    <link th:href="@{/assets/css/serve.css}" href="../../static/assets/css/serve.css" rel="stylesheet">
</head>
<body class="backdrop">
<div class="serve">
    <div class="content">
        <section class="panel">
            <div class="rel">
                <h2>Dashboard</h2>
                <img class="logo-small" th:src="@{/assets/img/icon.png}" src="../../static/assets/img/icon.png" alt="Serve Logo"/>
            </div>
            <p>Admin management dashboard.</p>
            <ul>
                <li><a th:href="@{/client/search?size=20&sort=uid,DESC&q=uid%28eq%29}" href="client/search.html">&#9819; Client</a></li>
                <li><a th:href="@{/role/search?size=20&sort=uid,DESC&q=uid%28eq%29}" href="role/search.html">&#9820; Role</a></li>
            </ul>
            <form id="logout-form" name="logout-form" th:action="@{/logout}" method="post">
                <input value="Logout" type="submit"/>
            </form>
        </section>
    </div>
</div>
</body>
</html>