<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta name="author" content="Gitesh Dalal">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Serve - Login</title>
<link th:href="@{/assets/img/faviconv1.ico}" rel="icon" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet">
<link th:href="@{/assets/css/serve.css}" rel="stylesheet">
</head>
<body class="backdrop">
	<div class="serve">
		<div class="content">
			<form class="panel" th:action="@{/login}" method="post">
				<div class="rel">
					<h2>Login</h2>
					<img class="logo-small" th:src="@{/assets/img/icon.png}" alt="Serve Logo"/>
				</div>
				<div class="msg" th:if="${param.error}">Invalid username and password.</div>
				<div class="msg" th:if="${param.logout}">You have been logged out.</div>
				<label for="username">Username</label>
				<input type="text" name="username" id="username" placeholder="_" autofocus />
				<label for="password">Password</label>
				<input type="password" name="password" id="password" placeholder="_"/>
				<input type="submit" value="Sign In" />
			</form>
		</div>
	</div>
</body>
</html>