package $config.modelPackage;

import lombok.*;
import java.util.*;
import javax.persistence.*;
import ${config.group}.model.*;
import ${config.modelPackage}.*;

/**
 * @author gitesh
 *
 */
#if( !$model.annotations.contains("MappedSuperclass") )
@Entity(name="${model.name}")
#end
#foreach($annotation in $model.annotations)
@$annotation
#end
@Data
#if( $model.parent )@EqualsAndHashCode(callSuper=true)#end
@SuppressWarnings(value = { "unused" })
public class ${model.name}Model #if( $model.parent )extends ${model.parent}Model #end{

	public static final String NAME = "${model.name}";

#foreach($att in $model.attributes)
#if($att.includeInModel)
#foreach($annotation in $att.annotations)
	@$annotation
#end
#if($att.type == "Date")
	@Temporal(TemporalType.TIMESTAMP)
#elseif($att.type == "Localised")
	@OneToOne
	@JoinColumn
#end
	private $att.type $att.name;
	
#end
#end
}