package $config.resourcePackage;

import lombok.*;
import java.util.*;
import ${config.resourcePackage}.*;
import org.springframework.hateoas.ResourceSupport;
import com.fasterxml.jackson.annotation.JsonIgnore;

@Data
@EqualsAndHashCode(callSuper=true)
@SuppressWarnings(value = { "unused" })
public class ${model.name}Resource extends#if( $model.parent ) ${model.parent}Resource #else ResourceSupport #end{

#foreach($att in $model.attributes)
#if(!$att.includeInResource)
	@JsonIgnore
#end
	private#if( $att.type != "Localised" ) ${att.type}#else String#end $att.name;
#end

} 