package $config.resourcePackage;

import lombok.*;
import java.util.*;
import ${config.resourcePackage}.*;
import com.fasterxml.jackson.annotation.JsonIgnore;

@Data
#if( $model.parent )@EqualsAndHashCode(callSuper=true)#end
@SuppressWarnings(value = { "unused" })
public class ${model.name}Resource #if( $model.parent )extends ${model.parent}Resource #end{

#foreach($att in $model.attributes)
#if(!$att.includeInResource)
	@JsonIgnore
#end
	private#if( $att.type != "Localised" ) ${att.type}#else String#end $att.name;
#end

} 