<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Gitesh Dalal">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serve - User Management</title>
    <link th:href="@{/assets/img/faviconv1.ico}" href="../../static/assets/img/faviconv1.ico" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet">
    <link th:href="@{/assets/css/serve.css}" href="../../static/assets/css/serve.css" rel="stylesheet">
</head>
<body class="backdrop">
<div class="serve">
    <div class="content">
        <section class="panel">
            <div class="rel">
                <h2>Search &#x265A;</h2>
                <img class="logo-small" th:src="@{/assets/img/icon.png}" src="../../static/assets/img/icon.png" alt="Serve Logo"/>
            </div>
            <form id="registerForm" name="registerForm" th:action="@{/register}" method="post">
                <div class="msg" th:text="${error}"></div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="_" th:value="${username}" autofocus/>
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="_" th:value="${email}"/>
                <input value="Search &#x265A;" type="submit"/>
            </form>
            <a th:href="@{/dashboard}" href="../dashboard.html" class="btn left danger">Cancel</a>
        </section>
    </div>
</div>
</body>
</html>