page-login {
    .content {
        background-color: color($colors, primary);
        background-image: url(../../assets/imgs/backdrop.png);
        background-repeat: space;
    }
    .col.panel {
        max-width: 480px;
        width: 100%;
        background-color: color($colors, light);
        border-radius: 5px;
        margin: calc(10vh) 4px 4px 4px;
        padding: 56px 40px 40px 40px;
    }
    input {
        font-size: 16px;
    }
    .heading.rel {
        position: relative;
    }
    h2 {
        font-weight: bold;
    }
    .logo-small {
        width: 80px;
        position: absolute;
        top: -55px;
        right: -20px;
    }
    .fixfloat {
        overflow: auto;
    }
}